/* hover */
#adminmenu a:hover, #adminmenu li.menu-top > a:focus, #adminmenu ul.wp-submenu a:hover, #the-comment-list .comment a:hover, #rightnow a:hover, #media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover, .ui-tabs-nav a:hover, .plugins .inactive a:hover, #all-plugins-table .plugins .inactive a:hover, #search-plugins-table .plugins .inactive a:hover {
    color: #d54e21
}
/* link */
a, #adminmenu a, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
    color: #21759b
}
#adminmenu .awaiting-mod, #adminmenu .update-plugins, #sidemenu a .update-plugins, #rightnow .reallynow {
    background-color: #464646;
    color: #fff;
    -moz-box-shadow: rgba(255,255,255,0.5) 0 1px 0;
    -webkit-box-shadow: rgba(255,255,255,0.5) 0 1px 0;
    box-shadow: rgba(255,255,255,0.5) 0 1px 0
}
#plugin-information .action-button {
    background-color: #d54e21;
    color: #fff
}
#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins {
    background-color: #464646;
    color: #fff;
    -moz-box-shadow: rgba(255,255,255,0.5) 0 1px 0;
    -webkit-box-shadow: rgba(255,255,255,0.5) 0 1px 0;
    box-shadow: rgba(255,255,255,0.5) 0 1px 0
}
/* back & wrap */
#adminmenuback, #adminmenuwrap {
    background-color: #ececec;
    border-color: #ccc
}
#adminmenushadow, #adminmenuback {
    background-image: url(../../images/adminmenu/menu-shadow.png);
    background-position: top right;
    background-repeat: repeat-y
}
#adminmenu li.wp-menu-separator {
    background: #dfdfdf;
    border-color: #cfcfcf
}
#adminmenu div.separator {
    border-color: #e1e1e1
}
#adminmenu li.wp-has-current-submenu.wp-menu-open .wp-menu-toggle, #adminmenu li.wp-has-current-submenu:hover .wp-menu-toggle {
    background: transparent url(../../images/adminmenu/arrows-dark.png) no-repeat -1px 6px
}
#adminmenu .wp-has-submenu:hover .wp-menu-toggle, #adminmenu .wp-menu-open .wp-menu-toggle {
    background: transparent url(../../images/adminmenu/arrows.png) no-repeat -2px 6px
}
#adminmenu a.menu-top, .folded #adminmenu li.menu-top, #adminmenu .wp-submenu .wp-submenu-head {
    border-top-color: #f9f9f9;
    border-bottom-color: #dfdfdf
}
#adminmenu li.wp-menu-open {
    border-color: #dfdfdf
}
#adminmenu li.menu-top:hover > a, #adminmenu li.menu-top.focused > a, #adminmenu li.menu-top > a:focus {
    background-color: #e4e4e4;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4)
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, .folded #adminmenu li.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, #adminmenu .wp-menu-arrow, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
    background-color: #777;
    background-image: -ms-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: -moz-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: -o-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: -webkit-gradient(linear,left bottom,left top,from(#6d6d6d),to(#808080));
    background-image: -webkit-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: linear-gradient(bottom,#6d6d6d,#808080)
}
#adminmenu .wp-menu-arrow div {
    background-color: #777;
    background-image: -ms-linear-gradient(right bottom,#6d6d6d,#808080);
    background-image: -moz-linear-gradient(right bottom,#6d6d6d,#808080);
    background-image: -o-linear-gradient(right bottom,#6d6d6d,#808080);
    background-image: -webkit-gradient(linear,right bottom,left top,from(#6d6d6d),to(#808080));
    background-image: -webkit-linear-gradient(right bottom,#6d6d6d,#808080);
    background-image: linear-gradient(right bottom,#6d6d6d,#808080)
}
#adminmenu li.wp-not-current-submenu .wp-menu-arrow {
    border-top-color: #f9f9f9;
    border-bottom-color: #dfdfdf;
    background: #e4e4e4
}
#adminmenu li.wp-not-current-submenu .wp-menu-arrow div {
    background: #e4e4e4;
    border-color: #ccc
}
.folded #adminmenu li.menu-top li:hover a {
    background-image: none
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
    text-shadow: 0 -1px 0 #333;
    color: #fff;
    border-top-color: #808080;
    border-bottom-color: #6d6d6d
}
.folded #adminmenu li.wp-has-current-submenu, .folded #adminmenu li.current.menu-top {
    border-top-color: #808080;
    border-bottom-color: #6d6d6d
}
#adminmenu .wp-submenu a:hover, #adminmenu .wp-submenu a:focus {
    background-color: #eaf2fa;
    color: #333
}
#adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover {
    color: #333
}
#adminmenu .wp-submenu ul {
    background-color: #fff
}
#adminmenu .wp-submenu-wrap, #adminmenu .wp-submenu ul {
    border-color: #dfdfdf
}
#adminmenu .wp-submenu-wrap, .folded #adminmenu .wp-has-current-submenu .wp-submenu-wrap {
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4)
}
#adminmenu .wp-submenu .wp-submenu-head {
    border-right-color: #dfdfdf;
    background-color: #ececec
}
#adminmenu div.wp-submenu {
    background-color: transparent
}
#collapse-menu {
    color: #aaa
}
#collapse-menu:hover {
    color: #999
}
#collapse-button {
    border-color: #ccc;
    background-color: #f4f4f4;
    background-image: -ms-linear-gradient(bottom,#dfdfdf,#fff);
    background-image: -moz-linear-gradient(bottom,#dfdfdf,#fff);
    background-image: -o-linear-gradient(bottom,#dfdfdf,#fff);
    background-image: -webkit-gradient(linear,left bottom,left top,from(#dfdfdf),to(#fff));
    background-image: -webkit-linear-gradient(bottom,#dfdfdf,#fff);
    background-image: linear-gradient(bottom,#dfdfdf,#fff)
}
#collapse-menu:hover #collapse-button {
    border-color: #aaa
}
#collapse-button div {
    background: transparent url(../../images/adminmenu/arrows.png) no-repeat 0 -72px
}
.folded #collapse-button div {
    background-position: 0 -108px
}
@media only screen and (max-width: 900px) {
    #adminmenu li.menu-top {
        border-top-color: #f9f9f9;
        border-bottom-color: #dfdfdf
    }
    #adminmenu li.wp-has-current-submenu, #adminmenu li.current.menu-top {
        background-color: #777;
        background-image: -ms-linear-gradient(bottom,#6d6d6d,#808080);
        background-image: -moz-linear-gradient(bottom,#6d6d6d,#808080);
        background-image: -o-linear-gradient(bottom,#6d6d6d,#808080);
        background-image: -webkit-gradient(linear,left bottom,left top,from(#6d6d6d),to(#808080));
        background-image: -webkit-linear-gradient(bottom,#6d6d6d,#808080);
        background-image: linear-gradient(bottom,#6d6d6d,#808080)
    }
    #adminmenu li.menu-top li:hover a {
        background-image: none
    }
    #adminmenu li.wp-has-current-submenu, #adminmenu li.current.menu-top {
        border-top-color: #808080;
        border-bottom-color: #6d6d6d
    }
    #adminmenu .wp-has-current-submenu .wp-submenu-wrap {
        -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
        -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
        box-shadow: 2px 2px 5px rgba(0,0,0,0.4)
    }
    #collapse-button div {
        background-position: 0 -108px
    }
}
.icon16, .icon32, div.wp-menu-image {
    background-color: transparent;
    background-repeat: no-repeat
}
.icon16.icon-dashboard, .menu-icon-dashboard div.wp-menu-image, .icon16.icon-post, .menu-icon-post div.wp-menu-image, .icon16.icon-media, .menu-icon-media div.wp-menu-image, .icon16.icon-links, .menu-icon-links div.wp-menu-image, .icon16.icon-page, .menu-icon-page div.wp-menu-image, .icon16.icon-comments, .menu-icon-comments div.wp-menu-image, .icon16.icon-appearance, .menu-icon-appearance div.wp-menu-image, .icon16.icon-plugins, .menu-icon-plugins div.wp-menu-image, .icon16.icon-users, .menu-icon-users div.wp-menu-image, .icon16.icon-tools, .menu-icon-tools div.wp-menu-image, .icon16.icon-settings, .menu-icon-settings div.wp-menu-image, .icon16.icon-site, .menu-icon-site div.wp-menu-image {
    background-image: url(../../images/adminmenu/menu.png)
}
.icon16.icon-dashboard, #adminmenu .menu-icon-dashboard div.wp-menu-image {
    background-position: -59px -33px
}
#adminmenu .menu-icon-dashboard:hover div.wp-menu-image, #adminmenu .menu-icon-dashboard.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-dashboard.current div.wp-menu-image {
    background-position: -59px -1px
}
.icon16.icon-post, #adminmenu .menu-icon-post div.wp-menu-image {
    background-position: -269px -33px
}
#adminmenu .menu-icon-post:hover div.wp-menu-image, #adminmenu .menu-icon-post.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-post.current div.wp-menu-image {
    background-position: -269px -1px
}
.icon16.icon-media, #adminmenu .menu-icon-media div.wp-menu-image {
    background-position: -119px -33px
}
#adminmenu .menu-icon-media:hover div.wp-menu-image, #adminmenu .menu-icon-media.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-media.current div.wp-menu-image {
    background-position: -119px -1px
}
.icon16.icon-links, #adminmenu .menu-icon-links div.wp-menu-image {
    background-position: -89px -33px
}
#adminmenu .menu-icon-links:hover div.wp-menu-image, #adminmenu .menu-icon-links.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-links.current div.wp-menu-image {
    background-position: -89px -1px
}
.icon16.icon-page, #adminmenu .menu-icon-page div.wp-menu-image {
    background-position: -149px -33px
}
#adminmenu .menu-icon-page:hover div.wp-menu-image, #adminmenu .menu-icon-page.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-page.current div.wp-menu-image {
    background-position: -149px -1px
}
.icon16.icon-comments, #adminmenu .menu-icon-comments div.wp-menu-image {
    background-position: -29px -33px
}
#adminmenu .menu-icon-comments:hover div.wp-menu-image, #adminmenu .menu-icon-comments.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-comments.current div.wp-menu-image {
    background-position: -29px -1px
}
.icon16.icon-appearance, #adminmenu .menu-icon-appearance div.wp-menu-image {
    background-position: 1px -33px
}
#adminmenu .menu-icon-appearance:hover div.wp-menu-image, #adminmenu .menu-icon-appearance.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-appearance.current div.wp-menu-image {
    background-position: 1px -1px
}
.icon16.icon-plugins, #adminmenu .menu-icon-plugins div.wp-menu-image {
    background-position: -179px -33px
}
#adminmenu .menu-icon-plugins:hover div.wp-menu-image, #adminmenu .menu-icon-plugins.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-plugins.current div.wp-menu-image {
    background-position: -179px -1px
}
.icon16.icon-users, #adminmenu .menu-icon-users div.wp-menu-image {
    background-position: -300px -33px
}
#adminmenu .menu-icon-users:hover div.wp-menu-image, #adminmenu .menu-icon-users.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-users.current div.wp-menu-image {
    background-position: -300px -1px
}
.icon16.icon-tools, #adminmenu .menu-icon-tools div.wp-menu-image {
    background-position: -209px -33px
}
#adminmenu .menu-icon-tools:hover div.wp-menu-image, #adminmenu .menu-icon-tools.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-tools.current div.wp-menu-image {
    background-position: -209px -1px
}
.icon16.icon-settings, #adminmenu .menu-icon-settings div.wp-menu-image {
    background-position: -239px -33px
}
#adminmenu .menu-icon-settings:hover div.wp-menu-image, #adminmenu .menu-icon-settings.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-settings.current div.wp-menu-image {
    background-position: -239px -1px
}
.icon16.icon-site, #adminmenu .menu-icon-site div.wp-menu-image {
    background-position: -359px -33px
}
#adminmenu .menu-icon-site:hover div.wp-menu-image, #adminmenu .menu-icon-site.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-site.current div.wp-menu-image {
    background-position: -359px -1px
}
.icon32.icon-post, #icon-edit, #icon-post, .icon32.icon-dashboard, #icon-index, .icon32.icon-media, #icon-upload, .icon32.icon-links, #icon-link-manager, #icon-link, #icon-link-category, .icon32.icon-page, #icon-edit-pages, #icon-page, .icon32.icon-comments, #icon-edit-comments, .icon32.icon-appearance, #icon-themes, .icon32.icon-plugins, #icon-plugins, .icon32.icon-users, #icon-users, #icon-profile, #icon-user-edit, .icon32.icon-tools, #icon-tools, #icon-admin, .icon32.icon-settings, #icon-options-general, .icon32.icon-site, #icon-ms-admin {
    background-image: url(../../images/adminmenu/icons32.png)
}
.icon32.icon-post, #icon-edit, #icon-post {
    background-position: -552px -5px
}
.icon32.icon-dashboard, #icon-index {
    background-position: -137px -5px
}
.icon32.icon-media, #icon-upload {
    background-position: -251px -5px
}
.icon32.icon-links, #icon-link-manager, #icon-link, #icon-link-category {
    background-position: -190px -5px
}
.icon32.icon-page, #icon-edit-pages, #icon-page {
    background-position: -312px -5px
}
.icon32.icon-comments, #icon-edit-comments {
    background-position: -72px -5px
}
.icon32.icon-appearance, #icon-themes {
    background-position: -11px -5px
}
.icon32.icon-plugins, #icon-plugins {
    background-position: -370px -5px
}
.icon32.icon-users, #icon-users, #icon-profile, #icon-user-edit {
    background-position: -600px -5px
}
.icon32.icon-tools, #icon-tools, #icon-admin {
    background-position: -432px -5px
}
.icon32.icon-settings, #icon-options-general {
    background-position: -492px -5px
}
.icon32.icon-site, #icon-ms-admin {
    background-position: -659px -5px
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .icon32.icon-post, #icon-edit, #icon-post, .icon32.icon-dashboard, #icon-index, .icon32.icon-media, #icon-upload, .icon32.icon-links, #icon-link-manager, #icon-link, #icon-link-category, .icon32.icon-page, #icon-edit-pages, #icon-page, .icon32.icon-comments, #icon-edit-comments, .icon32.icon-appearance, #icon-themes, .icon32.icon-plugins, #icon-plugins, .icon32.icon-users, #icon-users, #icon-profile, #icon-user-edit, .icon32.icon-tools, #icon-tools, #icon-admin, .icon32.icon-settings, #icon-options-general, .icon32.icon-site, #icon-ms-admin {
        background-image: url(../../images/adminmenu/icons32-2x.png);
        background-size: 708px 45px
    }
    .icon16.icon-dashboard, .menu-icon-dashboard div.wp-menu-image, .icon16.icon-post, .menu-icon-post div.wp-menu-image, .icon16.icon-media, .menu-icon-media div.wp-menu-image, .icon16.icon-links, .menu-icon-links div.wp-menu-image, .icon16.icon-page, .menu-icon-page div.wp-menu-image, .icon16.icon-comments, .menu-icon-comments div.wp-menu-image, .icon16.icon-appearance, .menu-icon-appearance div.wp-menu-image, .icon16.icon-plugins, .menu-icon-plugins div.wp-menu-image, .icon16.icon-users, .menu-icon-users div.wp-menu-image, .icon16.icon-tools, .menu-icon-tools div.wp-menu-image, .icon16.icon-settings, .menu-icon-settings div.wp-menu-image, .icon16.icon-site, .menu-icon-site div.wp-menu-image {
        background-image: url(../../images/adminmenu/menu-2x.png);
        background-size: 390px 64px
    }
}