.grid {
    width: 960px;
    border: 1px solid red;
}
.grid:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.grid-item {
    float: left;
    position: relative;
    width: 240px;
    height: 345px;
    overflow: hidden;
}
.grid-item figure, .grid-item .figure {
    text-align: center;
}
.grid-item .remarked, .grid-item .comments li {
    padding: 10px 15px 10px 40px;
}
.grid-item .avatar {
    float: left;
    width: 30px;
    height: 30px;
    margin-left: -40px;
}
/* ie */
.lte7 .grid {
    zoom: 1;
}
.ie6 .grid-item {
    display: inline;
}